@media screen and (max-width: 576px) {





    .myIcon{
        background-image: url("./images/navIcon.svg");
    }


    .menu{
        display: none;
        
    }


    .popularTour{
        flex-direction: column;
    }

    .buttonPopular{
        margin-bottom: 15px;
    }
    
    .bgImage img{ 
        width: 335px;
    height: 342px;;
    }


    .firstRowImage, .secondRowImage, .thirdRowImage{
        flex-direction: column; 
    }

    
    .firstRowImage, .secondRowImage img{
        width: 470px;
        margin: 0 auto;
    }

    .maldives img{
        width: 335px;
        height: 176px;
    }
    .indonesia img{
        width: 335px;
        height: 176px;
    }
    .sriLanka img{
        width: 335px;
        height: 176px;
    }
    .northAmerica img{
        width: 335px;
        height: 176px;
    }
    .kashmir img{
        width: 335px;
        height: 176px;
    }
    .bangladesh img{
        width: 335px;
        height: 176px;
    }
    .bandarban img{
        width: 335px;
        height: 176px;
    }



    .whyChooseDiv1{
        text-align: center;
        width: 390px ;
        padding-left: 2px;
        margin: 0 auto;
    }
    .whyChooseDiv2{
        flex-direction: column;
    }

    .whyChooseDiv3{
        margin-left: 2px;
    }

    .hotel, .map, .whyChooseDiv3{
        width: 375px;
        height: 289px;
        margin: 0 auto;
    }

    .newsletter{
        flex-direction: column;
    }
      
    .newsletterDiv1{
        text-align: center;
        margin-left: 20px;
    }
    .newsletterImageDiv img{
        width: 550px;
    }
    #discountSticker{
        width: 324px;
        height: 130px;
        transform: rotate(-19.628deg);
        flex-shrink: 0;
        border-radius: 16px;
        background: #FF5400;
        position: relative;
        left: 220px;
        bottom: 205px;
        text-align: center;
    }


}