@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');



body{
    max-width: 1170px;
    margin: 0 auto;
    font-family: 'Mulish', sans-serif;
}

.headerLarge{
    margin-top: 10px;
}
.nav{
    /* max-width: 1170px;
    margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px; 
}
.logoText{
    font-family: Mulish;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
}
.menu ul li{
    display: inline;
    gap: 5px;
    
}

a{
    text-decoration: none;
    padding: 0 20px;
    color:#424247;
    text-align: center;
    font-family: Mulish;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.logoText:hover{
    background-color: yellowgreen;
}
a:hover{
    background-color: yellowgreen;
}

#travel{
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#home{
    color: #FF5400;

text-align: center;
font-family: Mulish;
font-size: 19px;
font-style: normal;
font-weight: 700;
line-height: normal;
}



/* Banner Realted styles */

.banner{
    /* border: 6px solid red; */
    border-radius: 6px;
    background-image: url("./images/bannerBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 25px;
}
.bannerContainer{
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    padding-top: 120px;
    padding-left: 280px;
    min-height: 50vh;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}
.banner h1{
    color: #FFF;
    /* color: red; */
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 598px;
}

.banner p{
    width: 680px;
    text-align: center;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}

.whereToGo{
    width: 124px;
    height: 32px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    margin-right: 3px;
}

.when{
    width: 124px;
    height: 32px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    margin-left: 8px;
    margin-right: 8px;
}

.slectOption{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 600px;
    height: 70px;
}

#findNowButton{
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 42px;
    flex-shrink: 0;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#findNowButton:hover{
    background-color: yellowgreen;
}



/* popular tour plans styles*/

.popularTour{
    max-width: 1170px;
    display: flex; 
    justify-content: space-between;   
    margin-top: 50px;
}
.popularTourDescription{
    width: 500px;
    
}

.paragraphFont{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}


.buttonPopular{
    width: 100px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FF5400;
    border: none;
}



/* Images and place names related Stayles  start here  */

.containerPopularDestination{
    margin-top: 90px;
    
}

.popularDestinationDescription{
    text-align: center;
    margin-bottom: -50px;
    
}

#popularDestinationDescriptionP{
    
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 560px;
    
    
}

.firstRowImage, .secondRowImage, .thirdRowImage{
    display: flex;
    gap: 15px;
}

.maldives h1{
    position: relative;
    top: 200px;
    left: 190px;
    color: #FFF;
    /* text-align: center; */
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.indonesia h1{
    position: relative;
    top: 190px;
    left: 250px;
    color: #FFF;
    /* text-align: center; */
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.sriLanka h1{
    position: relative;
    top: 170px;
    left: 135px;
    color: #FFF;
    /* text-align: center; */
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: -25px;
}

.northAmerica h1{
    position: relative;
    top: 170px;
    left: 135px;
    color: #FFF;
    /* text-align: center; */
    font-family: Mulish;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: -25px;
}

.kashmir h1{
    position: relative;
    top: 170px;
    left: 70px;
    color: #FFF;
    /* text-align: center; */
    font-family: Mulish;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    margin-top: -25px;
}

.bangladesh p{
    position: relative;
    top: 190px;
    left: 150px;
    color: #FFF;
    /* text-align: center; */
    font-family: Mulish;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: 0;
    margin-top: 8px;
}

.bandarban p {
    position: relative;
    top: 200px;
    left: 260px;
    color: #FFF;
    /* text-align: center; */
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    line-height: 0;
    margin-top: 8px;
}
.sriLanka{
    margin-top: -20px;}

.northAmerica{
    margin-top: -40px;}

.kashmir{
    margin-top: -40px;
}

.bangladesh{
    margin-top: -30px;
}
.bandarban{
    margin-top: -37px;
}
/* Images and place names related Stayles  ends here  */



/* Why Choose Us part style */


.whyChooseUs{
    margin-top: 100px;
    margin-bottom: 80px;
}
.whyChooseDiv1{
    text-align: center;
    width: 630px ;
    padding-left: 199px;
}

.whyChooseDiv1 h2{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.whyChooseDiv1 p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.whyChooseDiv2{
    margin-top: 25px;
    display: flex;
    gap: 16px;
}

.hotel{
    border-radius: 16px;
    height: 200px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 20px;
}

.map{
    padding: 20px;
    height: 200px;  
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.offer{
    color: #5A5A5D;

font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}

.whyChooseDiv3{
    margin: 25px auto;
    padding: 20px;
    width: 520px;
    height: 200px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
/* Why Choose Us part ends here */




/* review part styles starts here*/
.reviewContainer{
    background-color: rgb(241, 238, 234);
    margin-bottom: 45px;
    padding-bottom: 15px;
    padding-top: 15px;
}

#reviewTitle{
    color: red;
    font-weight: 800;
    font-size: 34px;
}
.cleintReview{
    text-align: center;
    padding-left: 290px;
    padding-right: 190px;
}

.clientsCommentCard{
    display: flex ;
    justify-content: center;
    gap: 6px;
}

.clientsCommentCard img{
    width: 100px;
    height: 100px;
}

.card{
    width: 320px;
    height: 240px;
    border: 2px solid yellowgreen;
    border-radius: 8px;
    padding: 30px;
}

.card2{
    background-color: rgb(212, 212, 130);
}

.card1, .card3{
    background-color: steelblue;
}


.reviewsButtonDiv{
   text-align: center;
   margin-top: 50px;
}

.reviewsButton{
    background-color: orange;
    border-radius: 8px;
    border: none;
    height: 30px;
    font-size: 27px;
}

.reviewsButton:hover{
    background-color: yellowgreen;
}

.common{
    border-radius: 5px;
    border: none;
}
.common:hover{
    background-color: darkorange;
}


/* review part styles ends here*/



/* Newsletter part starts here */

.newsletter{
    display: flex;
    gap: 15px;
}

.newsletterDiv1{
    width: 476px;
    height: 422px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding-left: 35px;
}

.newsletterDiv1 p{
    color: #5A5A5D;
    width: 350px;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.line {
    width: 395px;
    height: 1px; 
    background: rgba(19, 19, 24, 0.10);


    margin-bottom: 10px;
  }

.nameInput{
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    padding-left: 20px;
}

.emailInput{
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    padding-left: 20px;
}

.newsletterEmailDiv{
    margin-top: 10px;
}

.subscribeButton{
    margin-top: 20px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    border: none;
}

.subscribeButton:hover{
    background-color: rgb(150, 178, 93);
}


#discountSticker{
    width: 324px;
    height: 130px;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    border-radius: 16px;
    background: #FF5400;
    position: relative;
    left: 340px;
    bottom: 205px;
    text-align: center;
}

#discountSticker h3{
    color: #FFF;
    /* text-align: center; */
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 15px;
}

#discountSticker h1{
    color: #FFF;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    
}

.hideNewsletter{
    display: none;
}
/* newsletter part ends here */



/* footer styles */

footer{
    text-align: center;
    margin: 0 auto;
    background: rgba(19, 19, 24, 0.05);
    height: 352px;
    padding: 50px;
    margin-top: -70px;
    margin-bottom: 120px;
    
}

footer h3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 32px;
    font-weight: 800;

}

.footer p{
    
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

/* .footer > .footerLogo img {
    gap: 20px;
} */

#footerLogo{
    /* padding: 30px; */
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

#footerTravel{
    color: #FF5400;
}



@media screen and (max-width:576px) {

    .headerHide{
        display: none;
    }
    .banner1{
        background-image: url(./images/bannerBackground.png);
        background-size: auto;
        background-position: center;
        height: 40vh;
        border: 2px solid white;
    }
    .bannerContainer1{
        /* display: flex; */
        /* justify-content: center;
        align-items: center; */
       
        background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
        padding-top: 30px;
    }
    .bannerDescription1 h1{
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        font-family: Mulish;
        font-size: 22px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    .bannerParagraph1{
        text-align: center;
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        /* width: 350px; */
        /* padding: 0 auto; */ 
    }


    .logo{
        display: flex;
        gap: 8px
    }
    
    .header{
        margin-top: 10px;
    }
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .logoText1{
        font-size: 32px;
    }
    .travelsmall{
        color: #FF5400;
        font-family: Mulish;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    
    .slectOption1{
        text-align: center;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
        width: 350pxpx;
        margin: 0 auto;
        
    }
    
    .when1{
        width: 224px;
        height: 32px;
        border-radius: 8px;
        background: #FFF;
        border: none;
        color: rgba(19, 19, 24, 0.50);
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 5px;
        margin-bottom: 5px;
    
    }
    .whereToGo1{
        width: 224px;
        height: 32px;
        border-radius: 8px;
        background: #FFF;
        border: none;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .bannerHide{
        display: none;

    }
    .clientsCommentCard{
        flex-direction: column;
        justify-content: center;
        margin-left: 89px;
    }

    .cleintReview{
        padding: 5px;
    }

    .menu{
        display: none; 
    }

    #maxWidth{
        max-width: 576px;
    }

    .slectOption{
        flex-direction: column;
        margin-right: -230px;
    }


    .popularTour{
        flex-direction: column;
    }

    .buttonPopular{
        margin-bottom: 25px;
    }
    #popularTourDescriptionP{
        margin-right: -40px;
    }
    #break{
        display: none;
    }
    .bgImage img{ 
        width: 575px;
        height: 382px;;
    }

    .firstRowImage, .secondRowImage, .thirdRowImage{
        flex-direction: column; 
    }

    
    .firstRowImage, .secondRowImage img{
        width: 470px;
        margin: 0 auto;
    }

    .maldives img{
        width: 535px;
        height: 276px;
        margin-left: -30px;
    }
    .indonesia img{
        width: 535px;
        height: 276px;
        margin-left: -30px;
        margin-top: -82px;
        /* margin-bottom: -120px; */
    }
    .indonesia h1{
        top: 90px;
        left: 170px;
        color: #FFF;
       
        
    }
    .sriLanka img{
        width: 535px;
        height: 276px;
        padding-left: 20px;
    }

    .sriLanka h1{
        top: 170px;
        left: 235px;
        color: #FFF;  
    }

    .northAmerica img{
        width: 535px;
        height: 276px;
        padding-left: 20px;
        margin-top: -15px;
    }

    .northAmerica h1{
        top: 170px;
        left: 185px;
        color: #FFF;
    }
    .kashmir img{
        width: 535px;
        height: 276px;
        padding-left: 20px;
        margin-top: -15px;
    }
    .kashmir h1{
        top: 170px;
        left: 220px;
        color: #FFF;
    }
    .bangladesh img{
        width: 535px;
        height: 276px;
        padding-left: 20px;
    }

    .bangladesh p{
        top: 190px;
        left: 220px; 
    }
    
    .bandarban img{
        width: 535px;
        height: 276px;
        padding-left: 20px;
        margin-top: -15px;
    }
    .bandarban p {
        top: 180px;
        left: 210px;
    }

    .whyChooseDiv1 {
        text-align: center;
        width: 390px ;
        padding-left: 2px;
        margin: 0 auto;
    }
    

    .whyChooseDiv2{
        flex-direction: column;
    }

    .whyChooseDiv3{
        margin-left: 2px;
    }

    .hotel, .map, .whyChooseDiv3{
        width: 555px;
        height: 289px;
        margin: 0 auto;
    }

    .newsletter{
        flex-direction: column;
    }
      
    .newsletterDiv1{
        text-align: center;
        margin-left: 20px;
    }
    .newsletterImageDiv img{
        width: 550px;
    }
    #discountSticker{
        width: 324px;
        height: 130px;
        transform: rotate(-19.628deg);
        flex-shrink: 0;
        border-radius: 16px;
        background: #FF5400;
        position: relative;
        left: 220px;
        bottom: 205px;
        text-align: center;
    }
    
}



































@media screen and (min-width: 577px)  {
     .header, .hide{
        display: none;
    }
}